[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/kseqpp"]
	path = external/kseqpp
	url = https://github.com/cartoonist/kseqpp.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/morrisfranken/argparse.git
